### This notebook transform the data similar to how I transform data using SQL in dbt folder

In [2]:
import pyspark

In [3]:
1+1

2